---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
---

<Layout title="About Us - Smart Labhood Solutions">
  <main class="pt-20">
    <About />
  </main>
</Layout>