---
import Layout from '../layouts/Layout.astro';
import Documentation from '../components/Documentation.astro';
---

<Layout title="Documentation - Smart Labhood Solutions">
  <main class="pt-20">
    <Documentation />
  </main>
</Layout>