---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import UsedBy from '../components/UsedBy.astro';
import About from '../components/About.astro';
import Products from '../components/Products.astro';
import EcodenserPriming from '../components/EcodenserPriming.astro';
import Documentation from '../components/Documentation.astro';
import Gallery from '../components/Gallery.astro';
import ExecutiveTeam from '../components/ExecutiveTeam.astro';
import Testimonials from '../components/Testimonials.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Smart Labhood Solutions">
  <main>
    <Hero />
    <UsedBy />
    <About />
    <Products />
    <Gallery />
    <Documentation />
    <EcodenserPriming />
    <ExecutiveTeam />
    <Testimonials />
    <ContactForm />
  </main>
</Layout>