---
import Layout from '../layouts/Layout.astro';
import Products from '../components/Products.astro';
import EcodenserPriming from '../components/EcodenserPriming.astro';
---

<Layout title="Products - Smart Labhood Solutions">
  <main class="pt-20">
    <Products />
    <EcodenserPriming />
  </main>
</Layout>