---
import Layout from '../layouts/Layout.astro';
import ExecutiveTeam from '../components/ExecutiveTeam.astro';
---

<Layout title="Executive Team - Smart Labhood Solutions">
  <main class="pt-20">
    <ExecutiveTeam />
  </main>
</Layout>