---
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout title="Testimonials - Smart Labhood Solutions">
  <main class="pt-20">
    <Testimonials />
  </main>
</Layout>