---
---

<div class="w-full h-96 rounded-lg overflow-hidden shadow-lg">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2870.6969648021404!2d-92.40710442349234!3d43.98631603082181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f9e325b23ad2af%3A0x62c9e0652c3d192!2sSmart%20Labhood%20Solutions!5e0!3m2!1sen!2sus!4v1733362161124!5m2!1sen!2sus"
    width="100%"
    height="100%"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    title="Smart Labhood Solutions Location Map - 2450 Marion Rd SE, Rochester, MN 55904"
  ></iframe>
</div>